*{
    box-sizing:border-box;
    padding:5px;
}
body{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='600' height='400' preserveAspectRatio='none' viewBox='0 0 600 400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='600' height='400' x='0' y='0' fill='rgba(223%2c 212%2c 177%2c 1)'%3e%3c/rect%3e%3cpath d='M22.83 -35.2L87.78 2.3L87.78 77.3L22.83 114.8L-42.12 77.3L-42.12 2.3zM22.83 189.8L87.78 227.3L87.78 302.3L22.83 339.8L-42.12 302.3L-42.12 227.3zM217.69 77.3L282.64 114.8L282.64 189.8L217.69 227.3L152.74 189.8L152.74 114.8zM152.74 189.8L217.69 227.3L217.69 302.3L152.74 339.8L87.78 302.3L87.78 227.3zM347.6 77.3L412.55 114.8L412.55 189.8L347.6 227.3L282.64 189.8L282.64 114.8zM282.64 189.8L347.6 227.3L347.6 302.3L282.64 339.8L217.69 302.3L217.69 227.3zM347.6 302.3L412.55 339.8L412.55 414.8L347.6 452.3L282.64 414.8L282.64 339.8zM412.55 -35.2L477.51 2.3L477.51 77.3L412.55 114.8L347.6 77.3L347.6 2.3zM477.51 77.3L542.46 114.8L542.46 189.8L477.51 227.3L412.55 189.8L412.55 114.8zM412.55 189.8L477.51 227.3L477.51 302.3L412.55 339.8L347.6 302.3L347.6 227.3zM477.51 302.3L542.46 339.8L542.46 414.8L477.51 452.3L412.55 414.8L412.55 339.8zM542.46 -35.2L607.41 2.3L607.41 77.3L542.46 114.8L477.51 77.3L477.51 2.3zM542.46 189.8L607.41 227.3L607.41 302.3L542.46 339.8L477.51 302.3L477.51 227.3zM607.41 302.3L672.37 339.8L672.37 414.8L607.41 452.3L542.46 414.8L542.46 339.8zM542.46 414.8L607.41 452.3L607.41 527.3L542.46 564.8L477.51 527.3L477.51 452.3z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M15.33 -35.2 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM80.28 2.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM80.28 77.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM15.33 114.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-49.62 77.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-49.62 2.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM15.33 189.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM80.28 227.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM80.28 302.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM15.33 339.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-49.62 302.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-49.62 227.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM210.19 77.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM275.14 114.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM275.14 189.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM210.19 227.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM145.24 189.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM145.24 114.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM210.19 302.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM145.24 339.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM340.1 77.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM405.05 114.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM405.05 189.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM340.1 227.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM340.1 302.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM275.14 339.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM405.05 339.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM405.05 414.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM340.1 452.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM275.14 414.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM405.05 -35.2 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM470.01 2.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM470.01 77.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM340.1 2.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM534.96 114.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM534.96 189.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM470.01 227.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM470.01 302.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM534.96 339.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM534.96 414.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM470.01 452.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM534.96 -35.2 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM599.91 2.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM599.91 77.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM599.91 227.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM599.91 302.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM664.87 339.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM664.87 414.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM599.91 452.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM599.91 527.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM534.96 564.8 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM470.01 527.3 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M30.15 -16.06L58.73 0.44L58.73 33.44L30.15 49.94L1.57 33.44L1.57 0.44zM58.73 33.44L87.31 49.94L87.31 82.94L58.73 99.44L30.15 82.94L30.15 49.94zM58.73 132.44L87.31 148.94L87.31 181.94L58.73 198.44L30.15 181.94L30.15 148.94zM30.15 181.94L58.73 198.44L58.73 231.44L30.15 247.94L1.57 231.44L1.57 198.44zM30.15 280.94L58.73 297.44L58.73 330.44L30.15 346.94L1.57 330.44L1.57 297.44zM58.73 330.44L87.31 346.94L87.31 379.94L58.73 396.44L30.15 379.94L30.15 346.94zM87.31 -16.06L115.89 0.44L115.89 33.44L87.31 49.94L58.73 33.44L58.73 0.44zM87.31 82.94L115.89 99.44L115.89 132.44L87.31 148.94L58.73 132.44L58.73 99.44zM87.31 181.94L115.89 198.44L115.89 231.44L87.31 247.94L58.73 231.44L58.73 198.44zM87.31 280.94L115.89 297.44L115.89 330.44L87.31 346.94L58.73 330.44L58.73 297.44zM115.89 330.44L144.47 346.94L144.47 379.94L115.89 396.44L87.31 379.94L87.31 346.94zM87.31 379.94L115.89 396.44L115.89 429.44L87.31 445.94L58.73 429.44L58.73 396.44zM144.47 -16.06L173.05 0.44L173.05 33.44L144.47 49.94L115.89 33.44L115.89 0.44zM173.05 231.44L201.63 247.94L201.63 280.94L173.05 297.44L144.47 280.94L144.47 247.94zM144.47 280.94L173.05 297.44L173.05 330.44L144.47 346.94L115.89 330.44L115.89 297.44zM201.63 -16.06L230.21 0.44L230.21 33.44L201.63 49.94L173.05 33.44L173.05 0.44zM230.21 132.44L258.79 148.94L258.79 181.94L230.21 198.44L201.63 181.94L201.63 148.94zM201.63 280.94L230.21 297.44L230.21 330.44L201.63 346.94L173.05 330.44L173.05 297.44zM258.79 181.94L287.37 198.44L287.37 231.44L258.79 247.94L230.21 231.44L230.21 198.44zM287.37 231.44L315.95 247.94L315.95 280.94L287.37 297.44L258.79 280.94L258.79 247.94zM258.79 280.94L287.37 297.44L287.37 330.44L258.79 346.94L230.21 330.44L230.21 297.44zM287.37 330.44L315.95 346.94L315.95 379.94L287.37 396.44L258.79 379.94L258.79 346.94zM258.79 379.94L287.37 396.44L287.37 429.44L258.79 445.94L230.21 429.44L230.21 396.44zM315.95 82.94L344.53 99.44L344.53 132.44L315.95 148.94L287.37 132.44L287.37 99.44zM344.53 132.44L373.11 148.94L373.11 181.94L344.53 198.44L315.95 181.94L315.95 148.94zM344.53 231.44L373.11 247.94L373.11 280.94L344.53 297.44L315.95 280.94L315.95 247.94zM344.53 330.44L373.11 346.94L373.11 379.94L344.53 396.44L315.95 379.94L315.95 346.94zM315.95 379.94L344.53 396.44L344.53 429.44L315.95 445.94L287.37 429.44L287.37 396.44zM401.69 33.44L430.27 49.94L430.27 82.94L401.69 99.44L373.11 82.94L373.11 49.94zM373.11 280.94L401.69 297.44L401.69 330.44L373.11 346.94L344.53 330.44L344.53 297.44zM430.27 -16.06L458.84 0.44L458.84 33.44L430.27 49.94L401.69 33.44L401.69 0.44zM430.27 82.94L458.84 99.44L458.84 132.44L430.27 148.94L401.69 132.44L401.69 99.44zM430.27 181.94L458.84 198.44L458.84 231.44L430.27 247.94L401.69 231.44L401.69 198.44zM430.27 379.94L458.84 396.44L458.84 429.44L430.27 445.94L401.69 429.44L401.69 396.44zM516 231.44L544.58 247.94L544.58 280.94L516 297.44L487.42 280.94L487.42 247.94zM487.42 379.94L516 396.44L516 429.44L487.42 445.94L458.84 429.44L458.84 396.44zM573.16 33.44L601.74 49.94L601.74 82.94L573.16 99.44L544.58 82.94L544.58 49.94zM544.58 82.94L573.16 99.44L573.16 132.44L544.58 148.94L516 132.44L516 99.44zM573.16 330.44L601.74 346.94L601.74 379.94L573.16 396.44L544.58 379.94L544.58 346.94zM601.74 82.94L630.32 99.44L630.32 132.44L601.74 148.94L573.16 132.44L573.16 99.44zM630.32 231.44L658.9 247.94L658.9 280.94L630.32 297.44L601.74 280.94L601.74 247.94z' stroke='rgba(156%2c 77%2c 6%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='600' height='400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size:100%;
  min-height:100vh;
}
h1{
    background-color:#e9dcdc;
    text-align:center;
}
.intro{
    background-color:#e9dcdc;
}
video{
    display:flex;
    justify-content:center;
    width:80%;
}
.vid-box{
    margin:auto;
    width:100%;
}
.video-container{
    justify-content:space-around;
    position:relative;
}

.time-bar {
    position:relative;
    display: flex;
    flex: 10;
    flex-basis: 100%;
    height: 4px;
    transition: height 0.3s;
    background: rgba(0, 0, 0, 0.5);
    width:80%;
}
.time-fill {
    width:50%;
    background: rgba(241, 199, 91, 0.5); 
    flex: 0;
    flex-basis: 50%;
}
.controler{
    bottom:0;
    width:80%;
    /* min-width:max-content; */
    display:flex;
    flex-wrap:wrap;
    background:#b0b0b0fb;
}
.controler button{
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}
#play_button svg{
    display:flex;
    justify-content:space-around;
}
.player-slider{
    width:10px;
    height:30px;
}
.sliders{
    max-width: 100px;
    display:flex;
}

/* input below by Andy Leverenz */

input[type=range]{
    -webkit-appearance: none;
    appearance:none;
    background:transparent;
    width:100%;
    margin: 0 5px;
}
input[type=range]:focus{
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 80%;
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  
  input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.8);
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: #ffffff;
    border-radius: 10px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  
  input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: white;
    cursor: pointer;
  }
/* end of input by Andy Leverenz */